<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        Hotel Maya is one of South Africa's most loved family-friendly beachFront hotels. Positioned on a stretch of beautiful Mathura coastline.</p>
     <p>  Whether you book a last minute holiday or join our timeshare programe,Hotel Maya's suits offer great value and excellent amenities.Relax in one of the two resort pools.</p>
    
        <div class="follow text-center">
            <h4>Follow Us</h4>
            <a href="#">Facebook</a>
            <a href="#">Youtube</a>
            <a href="#">Instagram</a>
            <a href="#">Twitter</a>
        </div>
</section>
