<section class="bookNow">
    <div class="book col-lg-4 m-auto shadow-lg">
        <form>
           <h1 style="color: bisque;">Guest Information</h1>
            <div class="mb-3">
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" required>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" required>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Number of guests</label>
                    <input type="number" class="form-control" id="exampleInputPassword1" required>
                  </div>
                  <div class="mb-3">
                    <label for="checkdate" class="form-label">Date</label>
                    <input type="datetime-local" id="checkdate" required>

                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="exampleInputPassword1"  required>
                  </div>
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            
            
            <a routerLink="pay" class="btn btn-lg btn-primary">Book Room</a>
          </form>
    </div>

</section>
